<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About brand</title>
</head>
<body>
    <form method="get" action="/">
        <button type="submit" id="goBackBtn">Вернуться обратно</button>
    </form>

    <h2>About brand</h2>

    <div>
        <p>
            <input type="text" id="brandName" placeholder="Название бренда" value="Chery"/>
            <button type="submit" id="brandInfoBtn">Узнать больше о бренде</button>
        </p>
    </div>

    <table>
        <thead><tr><th>Страны производители</th></tr></thead>
        <tbody>
        </tbody>
    </table>

    <script src="./static/script4brands.js"></script>
</body>
</html>