<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About model</title>
    <link rel="stylesheet" href="./../static/style.css">
</head>
<body>
    <form method="get" action="/">
        <button type="submit">Вернуться обратно</button>
    </form>

    <h2>О модели</h2>

    <table>
        <thead><tr><th>Фотография</th><th>Модель</th><th>Марка</th><th>Категория</th><th>Цена</th><th>Описание</th></tr></thead>
        <tbody>
        </tbody>
    </table>

    <script src="./../static/script4models.js"></script>
</body>
</html>