<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AutoCatalog</title>
    <style>
        td {padding:5px;}
        button{margin: 5px;}
    </style>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h2>Список моделей</h2>
        <div>
            <input type="hidden" id="modelId" />
                <p>
                    Категория:<br/>
                    <input id="category" />
                </p>
                <p>
                    Цена:<br />
                    <input id="minPrice" type="number" min="0" />
                    <input id="maxPrice" type="number" min="0" />
                </p>
                 <p>
                    <button id="selectorBtn">Выбрать</button>
                </p>
        </div>
    <table>
        <thead><tr><th>Фотография</th><th>Модель</th><th>Бренд</th><th>Категория</th><th>Цена</th></tr></thead>
        <tbody>
        </tbody>
    </table>

    <script>
        // Получение всех моделей
        async function getModels() {
            // отправляет запрос и получаем ответ
            const response = await fetch("/api/models", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const models = await response.json();
                const rows = document.querySelector("tbody");
                // добавляем полученные элементы в таблицу
                models.forEach(model => rows.append(row(model)));
            }
        }

        // Получение моделей по заданным параметрам
        async function getSelectorsModels() {
            const response = await fetch(`/api/users/${id}`, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const user = await response.json();
                document.getElementById("userId").value = user.id;
                document.getElementById("userName").value = user.name;
                document.getElementById("userAge").value = user.age;
            }
            else {
                // если произошла ошибка, получаем сообщение об ошибке
                const error = await response.json();
                console.log(error.message); // и выводим его на консоль
            }
        }
        // Создание строки для таблицы
        function row(model) {
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", model[0]);

            const imageTd = document.createElement("td");
            const image = document.createElement("img");
            image.src = model[1]
            imageTd.appendChild(image);
            tr.appendChild(imageTd);

            const nameTd = document.createElement("td");
            nameTd.append(model[2]);
            tr.append(nameTd);

            const brandTd = document.createElement("td");
            brandTd.append(model[3]);
            tr.append(brandTd);

            const categoryTd = document.createElement("td");
            categoryTd.append(model[4]);
            tr.append(categoryTd);

            const priceTd = document.createElement("td");
            priceTd.append(model[5]);
            tr.append(priceTd);

            return tr;
        }

        // Загрузка пользователей
        getModels();
    </script>
</body>
</html>
