<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AutoCatalog</title>
    <style>
        td {padding:5px;}
        button{margin: 5px;}
    </style>
<!--    <link rel="stylesheet" href="./static/script.js">-->
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h2>Список моделей</h2>
    <div>
        <p>
            Категория:<br/>
            <input id="category" />
        </p>
        <p>
            Цена (в тыс.руб.):<br />
            <input type="number" id="minPrice" min="0" value="0"/>
            <input type="number" id="maxPrice" min="0" value="15000"/>
        </p>
        <p>
            <button id="selectorBtn">Выбрать</button>
        </p>
    </div>
    <h2>О бренде</h2>
    <div>
        <p>
            <input type="text" id="brand">
        </p>
        <p>
            <button id="brandInfoBtn">Узнать больше</button>
        </p>
    </div>
    <h2>О модели</h2>
    <div>
        <p>
            <input type="text" id="model">
        </p>
        <p>
            <button id="modelInfoBtn">Узнать больше</button>
        </p>
    </div>
    <table>
        <thead><tr><th>Фотография</th><th>Модель</th><th>Бренд</th><th>Категория</th><th>Цена</th></tr></thead>
        <tbody>
        </tbody>
    </table>

    <script src="./static/script.js"></script>
</body>
</html>
